@font-face {
  font-family: "Raleway";
  src: local("Raleway"),
   url(../fonts/Raleway/Raleway-Regular.woff2) format("woff2");
}

@font-face {
  font-family: "Raleway Bold";
  src: local("Raleway Bold"),
   url(../fonts/Raleway/Raleway-Bold.woff2) format("woff2");
}
